@use 'base/variables' as v;
@use 'base/mixins' as m;

.busqueda{
    margin-top: 5rem;
    text-align: center;
    @include m.tablet {
        margin-top: 30rem;
    }
    &__label{
        text-align: center;
    }
    &__boton{
        text-align: center;
        background-color: v.$blanco;
        color: v.$primario;
        border: none;
        border-radius: 5rem;
        padding: 2rem 4rem;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 1rem;
        display: block;
        @include m.tablet {
            display: inline-block;
        }
    }
}